*.a
*.la
*.log
*.pc
*.rc
*o
.libs/
Makefile

# From git status
autom4te.cache
MHD_config.h
config.h.in
config.status
configure
doc/examples/basicauthentication
doc/examples/hellobrowser
doc/examples/largepost
doc/examples/logging
doc/examples/responseheaders
doc/examples/sessions
doc/examples/simplepost
doc/examples/tlsauthentication
doc/libmicrohttpd.info
doc/stamp-vti
doc/version.texi
libtool
src/examples/authorization_example
src/examples/benchmark
src/examples/benchmark_https
src/examples/digest_auth_example
src/examples/dual_stack_example
src/examples/fileserver_example
src/examples/fileserver_example_dirs
src/examples/fileserver_example_external_select
src/examples/https_fileserver_example
src/examples/minimal_example
src/examples/minimal_example_comet
src/examples/post_example
src/examples/querystring_example
src/examples/refuse_post_example
src/examples/spdy_event_loop
src/examples/spdy_fileserver
src/examples/spdy_response_with_callback
src/spdy2http/microspdy2http
src/testcurl/test_options
stamp-h1
